<!-- -----section contact ------ -->
<section class="contacts" id="contact">
  <div class="container contact-container">
    <div class="contact-container-text">
      <h2 class="contacts-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>

      <form class="contact-form">
        <input
          class="contact-input"
          type="tel"
          name="phone"
          placeholder="+380 ()"
          pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          minlength="13"
          maxlength="13"
          required
        />
        <button class="contacts-button" type="submit">Recall</button>
      </form>
    </div>

    <div class="contact-img">
      <picture class="">
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/contact/mob-buyer.webp    1x,
            ./img/contact/mob-buyer@2x.webp 2x
          "
          type="image/webp"
          width="335"
          height="357"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./img/contact/mob-buyer.png    1x,
            ./img/contact/mob-buyer@2x.png 2x
          "
          type="image/png"
          width="335"
          height="357"
        />

        <source
          media="(max-width: 1279px)"
          srcset="
            ./img/contact/tab-buyer.webp    1x,
            ./img/contact/tab-buyer@2x.webp 2x
          "
          type="image/webp"
          width="629"
          height="446"
        />

        <source
          media="(max-width: 1279px)"
          srcset="
            ./img/contact/tab-buyer.png    1x,
            ./img/contact/tab-buyer@2x.png 2x
          "
          type="image/png"
          width="629"
          height="446"
        />

        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/contact/desk-buyer.webp    1x,
            ./img/contact/desk-buyer@2x.webp 2x
          "
          type="image/webp"
          width="525"
          height="499"
        />

        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/contact/desk-buyer.png    1x,
            ./img/contact/desk-buyer@2x.png 2x
          "
          type="image/png"
          width="525"
          height="499"
        />

        <img
          src="./img/contact/mob-buyer.webp"
          alt="buyer"
          width="335"
          height="357"
        />
      </picture>
    </div>
  </div>
</section>
