<!-- -----section contact ------ -->
<section class="contacts">
  <div class="container contact-container">
    <div class="contact-container-text">
      <h2 class="contacts-title">FRESH HARVEST BOX HAS GOT YOU COVERED</h2>
      <p class="contacts-text">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>

      <form class="contact-form">
        <input
          class="contact-input"
          type="tel"
          name="phone"
          placeholder="+380 ()"
          pattern="[\+]\d{2}\s[\(]\d{3}[\)]\s\d{3}[\-]\d{2}[\-]\d{2}"
          minlength="13"
          maxlength="13"
          required
        />
        <button class="contacts-button" type="submit">Recall</button>
      </form>

      <!-- <button class="contacts-button" type="submit">Recall</button> -->
    </div>

    <div class="contact-img"></div>
  </div>
</section>
