<footer class="footer">
  <div class="container footer-container">
    <picture class="footer-img">
      <source
        srcset="1x, 2x"
        width="349"
        height="179"
        media="(min-width: 1158px)"
      />
      <source
        srcset="1x, 2x"
        width="349"
        height="179"
        media="(min-width: 768px)"
      />
      <img src="" srcset="" alt="broccoli" width="335" height="172" />
    </picture>

    <a class="footer-logo" href="/index.html"
      ><img src="" alt="logo" width="16" height="16" />veggieboost</a
    >

    <nav class="footer-nav">
      <ul class="footer-nav-list">
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">How It Works</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Vegetables</a>
        </li>
        <li class="footer-nav-item">
          <a class="footer-nav-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>

    <div class="footer-soc">
      <ul class="footer-soc-list">
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="https://www.facebook.com/"
            target="_blank"
            ><img src="" alt="facebook" />X</a
          >
        </li>
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="https://www.instagram.com/"
            target="_blank"
            ><img src="" alt="instagram" />Y</a
          >
        </li>
        <li class="footer-soc-item">
          <a
            class="footer-soc-link"
            href="https://www.youtube.com/"
            target="_blank"
            ><img src="" alt="youtube" />Z</a
          >
        </li>
      </ul>
    </div>
    <address class="footer-address">
      <ul class="footer-address-list">
        <li class="footer-address-item">
          <a class="footer-tel-link" href="tel:+380684439426"
            >+380 (68) 443-94-26</a
          >
        </li>
        <li class="footer-address-item">
          <a
            class="footer-address-link"
            href="https://www.google.com.ua/maps"
            target="_blank"
            >1678 S. Pioneer Road <br />
            Salt Lake City <br />
            UT 84104</a
          >
        </li>
      </ul>
    </address>
  </div>
</footer>
