<section class="header">
  <div class="container header-container">
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-item-link" href="#order">How It Works</a>
        </li>
        <li class="header-list-item">
          <a class="header-item-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-list-item">
          <a class="header-item-link" href="#contact">Contacts</a>
        </li>
      </ul>

      <a href="./index.html" class="header-logo">
        <svg width="16" height="16">
          <use href="./img/icons.svg#icon-logo" class="header-logo-img"></use>
        </svg>
        Veggieboost
      </a>
    </nav>

    <button type="button" class="header-menu-open js-open-menu">
      <svg width="24" height="24" class="header-menu-icon">
        <use href="./img/icons.svg#icon-menu"></use>
      </svg>
    </button>

    <button type="button" class="header-menu-order data-modal-open-3">
      <svg width="20" height="20" class="header-order-icon">
        <use href="./img/icons.svg#icon-shop-bascket"></use>
      </svg>
    </button>
  </div>
</section>
