<section class="header">
  <div class="container header-container">
    
    <nav class="header-navigation">
      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-item-link" href="./order.html">How It Works</a>
        </li>
        <li class="header-list-item">
          <a class="header-item-link" href="./vegetables.html">Vegetables</a>
        </li>
        <li class="header-list-item">
          <a class="header-item-link" href="./contact.html">Contacts</a>
        </li>
      </ul>

      <a href="/" class="header-logo">
        <img src="/" alt="header-logo-image" width="16" height="16" />
        Veggieboost
      </a>
    </nav>

    <button type="button" class="header-menu-open">
      <a href="./mobile-menu.html" >
        <svg width="24" height="24" class="header-menu-icon">
          <use href=""></use>
        </svg>
      </a>

      <button type="button" class="header-menu-order">
        <a href="./order.html">
          <svg width="20" height="20" class="header-order-icon">
            <use href=""></use>
          </svg>
        </a>
  </div>
    
</section>