<section class="hero">
        <div class="hero-main container">

          <ul class="hero-list-icon">
            <li class="hero-list-icon-item one">
                <img   class="hero-icon-img"
                srcset="./images/, ./images/2x."
                src="./images/"
                alt="user1"
                width="40"
                height="40"></li>
            <li class="hero-list-icon-item two">
                <img  class="hero-icon-img"
                srcset="./images/, ./images/2x."
                src="./images/"
                alt="user2"
                width="40"
                height="40"></li>
            <li class="hero-list-icon-item three">
                <img  class="hero-icon-img"
                srcset="./images/, ./images/2x."
                src="./images/"
                alt="user3"
                width="40"
                height="40"></li>
            <li class="hero-list-icon-item four">
                <img  class="hero-icon-img"
                srcset="./images/, ./images/2x."
                src="./images/"
                alt="ellips4"
                width="40"
                height="40"></li>
            
          </ul>

          <h1 class="hero-name">organic <span class="hero-span">vegetables</span>  to your diet today!</h1>

          <p class="hero-text">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</p>
           
            <button class="hero-button" type="button">
                <svg class="hero-button-icon" xmlns="http://www.w3.org/2000/svg" width="68" height="68">
                    <use href="./images#"></use>
                    </svg>
            Shop now
          </button>
       


        
   <div class="helo-images-menu">
    <div class="hero-images">
            <img class="hero-foto" srcset="./images/, ./images/2x."
            src="./images/"
            alt="image9620"
            width="230"
            height="228">
            <img class="hero-back-oval" 
            srcset="./images/, ./images/2x."
            src="./images/"
            alt="oval"
            width="278"
            height="228">>
          </div>

<ul class="hero-list-menu">
  <li class="hero-list-item-menu"> <a href="">#organic</a></li>
  <li class="hero-list-item-menu"> <a href="">#products</a></li>
  <li class="hero-list-item-menu"> <a href="">#basket</a></li>
  <li class="hero-list-item-menu"> <a href="">#vegetables</a></li>

</ul>
</div>       

        </div>
      </section>
