<section class="hero" id="hero">
  <div class="container hero-container">
    <ul class="hero-icons-list">
      <li class="hero-list-item hero-position-one">
        <img
          class="hero-icon-img"
          srcset="./images/, ./images/2x."
          src="./images/"
          alt="a first women"
          width="40"
          height="40"
        />
      </li>
      <li class="hero-list-item hero-position-two">
        <img
          class="hero-icon-img"
          srcset="./images/, ./images/2x."
          src="./images/"
          alt="a men"
          width="40"
          height="40"
        />
      </li>
      <li class="hero-list-item hero-position-three">
        <img
          class="hero-icon-img"
          srcset="./images/, ./images/2x."
          src="./images/"
          alt="a second women"
          width="40"
          height="40"
        />
      </li>
      <li class="hero-list-item hero-position-four">
        <div class="hero-item-wrapper"> 
            <p class="hero-item-text"> 2K <span class="hero-item-span">reviews</span></p></div>
      </li>
    </ul>

    <h1 class="hero-title">
      organic <span class="hero-span">vegetables</span> to your diet today!
    </h1>

    <p class="hero-descr">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>

    <button class="hero-btn" type="button">
        <a class="hero-btn-link" href="">Shop now</a>
      
    </button>

    <div class="hero-image-wrapper">
      <div class="hero-image">
        <img
          class="hero-photo"
          srcset="./images/, ./images/2x."
          src="./images/"
          alt="image9620"
          width="230"
          height="228"
        />
      </div>

      <ul class="hero-nav-list">
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#organic</a>
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#products</a>
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#basket</a>
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#vegetables</a>
        </li>
      </ul>
    </div>
  </div>
</section>
