<section class="hero" id="hero">
  <div class="container hero-container">
    <ul class="hero-icons-list">
      <li class="hero-list-item hero-position-one">
        <picture>
            <source media="(max-width: 767px)" srcset="./images/one-mob-1.jpg 1x, ./images/one-mob-2.jpg 2x">
            <source media="(max-width: 1279px)" srcset="./images/one-tab-1.jpg 1x, ./images/one-tab-2.jpg 2x">
            <source media="(min-width: 1280px)" srcset="./images/banking.jpg 1x, ./images/one-desk-2.jpg 2x">
            <img src="./images/" alt="a first woman" class="hero-icon-img"    width="40"
            height="40" />
          </picture>

      </li>
      <li class="hero-list-item hero-position-two">

        <picture>
            <source media="(max-width: 767px)" srcset="./images/one-mob-1.jpg 1x, ./images/one-mob-2.jpg 2x">
            <source media="(max-width: 1279px)" srcset="./images/one-tab-1.jpg 1x, ./images/one-tab-2.jpg 2x">
            <source media="(min-width: 1280px)" srcset="./images/banking.jpg 1x, ./images/one-desk-2.jpg 2x">
            <img src="./images/"  alt="a man" class="hero-icon-img"    width="40"
            height="40" />
          </picture>


      </li>
      <li class="hero-list-item hero-position-three">

        <picture>
            <source media="(max-width: 767px)" srcset="./images/one-mob-1.jpg 1x, ./images/one-mob-2.jpg 2x">
            <source media="(max-width: 1279px)" srcset="./images/one-tab-1.jpg 1x, ./images/one-tab-2.jpg 2x">
            <source media="(min-width: 1280px)" srcset="./images/banking.jpg 1x, ./images/one-desk-2.jpg 2x">
            <img src="./images/"  alt="a second woman" class="hero-icon-img"    width="40"
            height="40" />
          </picture>

      </li>
      <li class="hero-list-item hero-position-four">
        <div class="hero-item-wrapper">
          <p class="hero-item-text">
            2K <span class="hero-item-span">reviews</span>
          </p>
        </div>
      </li>
    </ul>

    <h1 class="hero-title">
      organic <span class="hero-span">vegetables</span> to your diet today!
    </h1>

    <p class="hero-descr">
      Our expertly curated vegetable baskets are made with the freshest, highest
      quality vegetables available. Fresh Harvest Box has got you covered.
      Fresh, high-quality vegetables in expertly curated vegetable baskets
      delivered to you.
    </p>

    <button class="hero-btn" type="button">
      <a class="hero-btn-link" href="">Shop now</a>
    </button>

    <div class="hero-image-wrapper">
      <div class="hero-image">
        <picture>
            <source media="(max-width: 767px)" srcset="./images/one-mob-1.jpg 1x, ./images/one-mob-2.jpg 2x">
            <source media="(max-width: 1279px)" srcset="./images/one-tab-1.jpg 1x, ./images/one-tab-2.jpg 2x">
            <source media="(min-width: 1280px)" srcset="./images/banking.jpg 1x, ./images/one-desk-2.jpg 2x">
            <img class="hero-photo" src="./images/"  alt="image9620"     width="230"
            height="228" />
          </picture>


      </div>

      <ul class="hero-nav-list">
        <li class="hero-nav-item hero-nav-active">
          <a class="hero-nav-link hero-nav-active" href="">#organic</a>
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#products</a>
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#basket</a>
        </li>
        <li class="hero-nav-item">
          <a class="hero-nav-link" href="">#vegetables</a>
        </li>
      </ul>
    </div>
  </div>
</section>
