<div class="mobile-container js-menu-container">
  <div class="mobile-wrapper-top">
    <a class="mobile-logo" href="./index.html">
      <svg class="mobile-logo-icon" width="16" height="16">
        <use href="./img/icons.svg#icon-logo"></use></svg
      >Veggieboost
    </a>
    <button type="button" class="mobile-close-btn js-close-menu">
      <svg class="mobile-close-icon" width="40" height="40">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>

  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="#order">How It Works</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="#vegetables">Vegetables</a>
      </li>
      <li class="mobile-nav-item">
        <a class="mobile-nav-link" href="#contact">Contacts</a>
      </li>
      <li class="mobile-nav-item">
        <a href="#modal" class="data-modal-open-2">
          <svg class="mobile-nav-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-shop-bascket"></use></svg
        ></a>
      </li>
    </ul>
  </nav>
</div>
