<div class="modal-backdrop modal-is-hidden" data-modal>
  <div class="modal">
    <h2 class="modal-title">Your order</h2>
    <button class="modal-button">
      <svg width="6" height="6">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="modal-list">
      <li>
        <h3 class="modal-list-product-title">Cabbage basket</h3>
        <p class="modal-list-product-text">Plant</p>
        <div>
          <input
            type="checkbox"
            name="user-check"
            value="true"
            class="modal-checkbox modal-visually-hidden"
          />
          <svg width="10" height="8">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <div class="modal-list-product">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/modal/desk-cabbage.webp    1x,
                ./img/modal/desk-cabbage@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal/tab-cabbage.webp    1x,
                ./img/modal/tab-cabbage@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal/mob-cabbage.webp    1x,
                ./img/modal/mob-cabbage@2x.webp 2x
              "
            />
            <img
              class="modal-list-product-image"
              src="./img/modal/desk-cabbage.webp"
              alt="cabbage basket"
              width="243"
              height="200"
            />
          </picture>
        </div>
      </li>
      <li>
        <h3 class="modal-list-product-title">Tomato basket</h3>
        <p class="modal-list-product-text">Plant</p>
        <div>
          <input
            type="checkbox"
            name="user-check"
            value="true"
            class="modal-checkbox modal-visually-hidden"
          />
          <svg width="10" height="8">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <div class="modal-list-product">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/modal/desk-tomato.webp    1x,
                ./img/modal/desk-tomato@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal/tab-tomato.webp    1x,
                ./img/modal/tab-tomato@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal/mob-tomato.webp    1x,
                ./img/modal/mob-tomato@2x.webp 2x
              "
            />
            <img
              class="modal-list-product-image"
              src="./img/modal/desk-tomato.webp"
              alt="tomato basket"
              width="243"
              height="200"
            />
          </picture>
        </div>
      </li>
      <li>
        <h3 class="modal-list-product-title">Vegetables basket</h3>
        <p class="modal-list-product-text">Plant</p>
        <div>
          <input
            type="checkbox"
            name="user-check"
            value="true"
            class="modal-checkbox modal-visually-hidden"
          />
          <svg width="10" height="8">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </div>
        <div class="modal-list-product">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./img/modal/desk-basket.webp    1x,
                ./img/modal/desk-basket@2x.webp 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./img/modal/tab-basket.webp    1x,
                ./img/modal/tab-basket@2x.webp 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ./img/modal/mob-basket.webp    1x,
                ./img/modal/mob-basket@2x.webp 2x
              "
            />
            <img
              class="modal-list-product-image"
              src="./img/modal/desk-basket.webp"
              alt="vegetables basket"
              width="243"
              height="200"
            />
          </picture>
        </div>
      </li>
    </ul>
    <form
      class="modal-form"
      name="feedback_form"
      autocomplete="off"
      novalidate
    ></form>
    <div class="modal-field">
      <label for="user-name" class="modal-label modal-visually-hidden"
        >Name</label
      >
      <div class="modal-input-wrap">
        <input
          class="modal-input"
          type="text"
          name="user-name"
          id="user-name"
          placeholder="Enter full name..."
          pattern="[a-zA-Z]"
          required
        />
      </div>
    </div>
    <div class="modal-field">
      <label for="user-mail" class="modal-label modal-visually-hidden"
        >Email</label
      >
      <div class="modal-input-wrap">
        <input
          class="modal-input"
          type="email"
          name="user-mail"
          id="user-mail"
          placeholder="Enter email..."
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />
      </div>
    </div>
    <div class="modal-field">
      <label for="card-number" class="modal-label modal-visually-hidden"
        >Card number</label
      >
      <div class="modal-input-wrap">
        <input
          class="modal-input"
          type="cardnumber"
          name="card-number"
          id="card-number"
          placeholder="Enter card..."
          pattern="[0-9]"
          required
        />
      </div>
    </div>
    <div class="modal-field">
      <label for="user-comment" class="modal-label modal-visually-hidden"
        >Comments</label
      >
      <div class="modal-input-wrap">
        <textarea
          class="modal-textarea"
          name="user-comment"
          id="user-comment"
          placeholder="Enter comments..."
        >
        </textarea>
      </div>
    </div>
    <div class="modal-person-image-container">
      <picture class="modal-person-image">
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/modal/desk-person.webp    1x,
            ./img/modal/desk-person@2x.webp 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/modal/tab-desk.webp 1x, ./img/modal/tab-desk@2x.webp 2x"
        />
        <img
          src="./img/modal/desk-person.webp"
          alt="cabbage basket"
          width="444"
          height="413"
        />
      </picture>
    </div>
  </div>
  <button class="modal-submit-button" type="submit">Submit</button>
</div>
