<!-- <div class="backdrop data-modal"> -->
<div class="backdrop is-hidden data-modal">
  <div class="modal">
    <button type="button" class="modal-btn data-modal-close">
      <svg width="24" height="24">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">Your Order</p>

    <ul class="modal-list">
      <li class="modal-list-item">
        <div class="modal-item-wrapper">
          <p class="modal-list-name">Cabbage Basket</p>
          <p class="modal-list-type">Plant</p>
        </div>
        <picture class="modal-list-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/modal/mob-cabbage.webp    1x,
              ./img/modal/mob-cabbege@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/modal/mob-cabbage.png    1x,
              ./img/modal/mob-cabbage@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/modal/tab-cabbage.webp    1x,
              ./img/modal/tab-cabbage@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/modal/tab-cabbage.png    1x,
              ./img/modal/tab-cabbage@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/modal/desk-cabbage.webp    1x,
              ./img/modal/desk-cabbage@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/modal/desk-cabbage.png    1x,
              ./img/modal/desk-cabbage@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/modal/desk-cabbage.png"
            alt="cabbage"
            loading="lazy"
            width="94"
            height="78"
            class="modal-img"
          />
        </picture>

        <input
          type="checkbox"
          class="modal-list-checkbox visually-hidden"
          value="true"
          id="checkbox-id-1"
          name="checkbox-id"
        />
        <label for="checkbox-id-1" class="checkbox-label"
          ><span>
            <svg width="16" height="16" class="checkbox-icon">
              <use href="./img/icons.svg#icon-check"></use>
            </svg> </span
        ></label>
      </li>

      <li class="modal-list-item">
        <div class="modal-item-wrapper">
          <p class="modal-list-name">Tomato Basket</p>
          <p class="modal-list-type">Plant</p>
        </div>
        <picture class="modal-list-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/modal/mob-tomatoes.webp    1x,
              ./img/modal/mob-tomatoes@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/modal/mob-tomatoes.png    1x,
              ./img/modal/mob-tomatoes@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/modal/tab-tomatoes.webp    1x,
              ./img/modal/tab-tomatoes@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/modal/tab-tomatoes.png    1x,
              ./img/modal/tab-tomatoes@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/modal/desk-tomatoes.webp    1x,
              ./img/modal/desk-tomatoes@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/modal/desk-tomatoes.png    1x,
              ./img/modal/desk-tomatoes@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/modal/desk-tomatoes.png"
            alt="tomato"
            loading="lazy"
            width="94"
            height="78"
            class="modal-img"
          />
        </picture>

        <input
          type="checkbox"
          class="modal-list-checkbox visually-hidden"
          value="true"
          id="checkbox-id-2"
          name="checkbox-id"
        />
        <label for="checkbox-id-2" class="checkbox-label"
          ><span>
            <svg width="16" height="16" class="checkbox-icon">
              <use href="./img/icons.svg#icon-check"></use>
            </svg> </span
        ></label>
      </li>

      <li class="modal-list-item">
        <div class="modal-item-wrapper">
          <p class="modal-list-name">Tomato Basket</p>
          <p class="modal-list-type">Plant</p>
        </div>
        <picture class="modal-list-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/modal/mob-basket.webp    1x,
              ./img/modal/mob-basket@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/modal/mob-basket.png    1x,
              ./img/modal/mob-basket@2x.png 2x
            "
            type="image/png"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/modal/tab-basket.webp    1x,
              ./img/modal/tab-basket@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 1279px)"
            srcset="
              ./img/modal/tab-basket.png    1x,
              ./img/modal/tab-basket@2x.png 2x
            "
            type="image/png"
          />

          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/modal/desk-basket.webp    1x,
              ./img/modal/desk-basket@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/modal/desk-basket.png    1x,
              ./img/modal/desk-basket@2x.png 2x
            "
            type="image/png"
          />
          <img
            src="./img/modal/desk-basket.png"
            alt="basket"
            loading="lazy"
            width="94"
            height="78"
            class="modal-img"
          />
        </picture>

        <input
          type="checkbox"
          class="modal-list-checkbox visually-hidden"
          value="true"
          id="checkbox-id-3"
          name="checkbox-id"
        />
        <label for="checkbox-id-3" class="checkbox-label"
          ><span>
            <svg width="16" height="16" class="checkbox-icon">
              <use href="./img/icons.svg#icon-check"></use>
            </svg> </span
        ></label>
      </li>
    </ul>

    <form class="modal-form">
      <label for="name"></label>
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter full name..."
        required
        pattern="\w{3,16}"
        class="form-input"
      />

      <label for="email"></label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter email..."
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        class="form-input"
      />

      <label for="text"></label>
      <input
        type="text"
        id="text"
        name="text"
        placeholder="Enter card.."
        required
        pattern="\d*"
        maxlength="16"
        class="form-input"
      />

      <label for="comment"></label>
      <textarea
        name="comment"
        id="comment"
        placeholder="Enter comments..."
        class="form-textarea"
      ></textarea>

      <button type="submit" class="form-btn">Submit</button>
    </form>
  </div>
</div>
