<section class="order">
    <div class="order-container container">
        <h2 class="order-named">
            To order your vegetable basket, simply follow these easy steps
        </h2>
        <img class="order-foto" srcset="" src="" alt="broccoli" width="335" height="158">
        <ul class="order-list">
            <li class="order-list-point">
                <p class="order-point">
                    Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the
                    taste of fresh fruit
                    without ever leaving your home.
                </p>
            </li>
            <li class="order-list-point">
                <p class="order-point">
                    Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect
                    choice.
                </p>
            </li>
        </ul>
    </div>

    <div class="order-base container">
        <img class="order-girl-foto" srcset="" src="" alt="girl" width="258" height="319">
        <h3 class="order-called">
            3 Easy Steps for Buying Fresh Vegetables
        </h3>
        <ol class="order-all-steps">
            <li class="order-step">
                <p class="order-content">Just choose the vegetable you want to order by clicking on the checkboxes next to it.
                </p>
            </li>
            <li class="order-step">
                <p class="order-content">Click on the basket and fill out the form.</p>
            </li>
            <li class="order-step">
                <p class="order-content">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
            </li>
        </ol>
    </div>
</section>