<section class="order" id="order">
    
    <div class="container">
    <div class="order-container">
        <h2 class="order-title">
            To order your vegetable basket, simply follow these easy steps
        </h2>
        <img class="order-img" srcset="" src="" alt="broccoli" width="335" height="158">
        <ul class="order-list">
            <li class="order-list-item">
                <p class="order-list-description">
                    Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the
                    taste of fresh fruit
                    without ever leaving your home.
                </p>
            </li>
            <li class="order-list-item">
                <p class="order-list-description">
                    Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect
                    choice.
                </p>
            </li>
        </ul>
    </div>

    <div class="order-steps-wrapper">
        
        <h3 class="order-subtitle">
            3 Easy Steps for Buying Fresh Vegetables
        </h3>
        <ol class="order-steps-list">
            <li class="order-steps-list-item">
                <p class="order-content">Just choose the vegetable you want to order by clicking on the checkboxes next to it.
                </p>
            </li>
            <li class="order-steps-list-item">
                <p class="order-content">Click on the basket and fill out the form.</p>
            </li>
            <li class="order-steps-list-item">
                <p class="order-content">Sit back and relax! Your fresh vegetables basket will be delivered.</p>
            </li>
        </ol>
    <img class="order-photo" srcset="" src="" alt="girl" width="258" height="319">
    </div>
    </div>
</section>