<!--vegetables-section-->
<section class="vegetables-section">
  <h2 class="vegetables-section-title">oRGANIC vegetables</h2>
  <p class="vegetables-section-text">
    Our organic vegetables are hand-picked from local farms and delivered
    straight to your doorstep, ensuring that you get the freshest and most
    nutritious produce possible.
  </p>
  <ul class="vegetables-card-list">
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Carrot</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">100 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Brussel sprouts</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">80 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Tomato</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">40 UAH / kg</p>
    </li>
    <li>
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Eggplant</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">60 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Sweet potatoes</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">80 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Leek</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">50 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Mushrooms</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">40 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Corn</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">60 UAH / kg</p>
    </li>
    <li class="vegetables-card-item">
      <div class="vegetables-card-text">
        <h3 class="vegetables-section-subtitle">Radish</h3>
        <p class="vegetables-section-text">Plant</p>
      </div>
      <img class="vegetables-card-img" src="" alt="" />
      <p class="vegetables-price-text">90 UAH / kg</p>
    </li>
  </ul>
  <button class="vegetables-btn" type="button"><svg class="vegetables-svg" width="14" height="14">
    <use href=""></use>
  </svg> oRDER</button>
</section>
