<!--vegetables-section-->
<section class="vegetables">
  <div class="container vegetables-container">
      <h2 class="vegetables-title">oRGANIC vegetables</h2>
      <p class="vegetables-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
      <ul class="vegetables-list">
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Carrot</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">100 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Brussel sprouts</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">80 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Tomato</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">40 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Eggplant</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">60 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Sweet potatoes</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">80 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Leek</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">50 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Mushrooms</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">40 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Corn</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">60 UAH / kg</p>
        </li>
        <li class="vegetable-list-item">
            <h3 class="vegetables-item-subtitle">Radish</h3>
            <p class="vegetables-item-text">Plant</p>
          <img class="vegetables-item-img" src="" alt="" />
          <p class="vegetables-item-price">90 UAH / kg</p>
        </li>
      </ul>
      <button class="vegetables-btn" type="button"><svg class="vegetables-svg" width="14" height="14">
        <use href=""></use>
      </svg> oRDER</button>
  </div>
</section>
