<!--vegetables-section-->
<section class="vegetables">
  <div class="container vegetables-container">
    <h2 class="vegetables-title">oRGANIC vegetables</h2>
    <p class="vegetables-text">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="vegetables-list">
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Carrot</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/desk-carrot.webp    1x,
              ./img/vegetables/desk-carrot@2x.webp 2x
            "
            type="image/webp"
          />
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-carrot.png    1x,
            ./img/vegetables/desk-carrot@2x.png 2x
          "
          type="image/png"
        />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/tab-carrot.webp    1x,
              ./img/vegetables/tab-carrot@2x.webp 2x
            "
            type="image/webp"
          />
          <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-carrot.png    1x,
            ./img/vegetables/tab-carrot@2x.png 2x
          "
          type="image/png"
        />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/vegetables/mob-carrot.webp    1x,
              ./img/vegetables/mob-carrot@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/vegetables/mob-carrot.png    1x,
              ./img/vegetables/mob-carrot@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="vegetables-item-img"
            src="./img/vegetables/desk-carrot.png"
            alt="carrot"
            width="321"
            height="261"
            loading="lazy" />
        </picture>
        <p class="vegetables-item-price">100 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Brussel sprouts</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
            media="(min-width: 1280px)"
            srcset="
              ./img/vegetables/desk-brussel.webp    1x,
              ./img/vegetables/desk-brussel@2x.webp 2x
            "
            type="image/webp"
          />
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-brussel.png    1x,
            ./img/vegetables/desk-brussel@2x.png 2x
          "
          type="image/png"
        />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/vegetables/tab-brussel.webp    1x,
              ./img/vegetables/tab-brussel@2x.webp 2x
            "
            type="image/webp"
          />
          <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-brussel.png    1x,
            ./img/vegetables/tab-brussel@2x.png 2x
          "
          type="image/png"
        />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/vegetables/mob-brussel.webp    1x,
              ./img/vegetables/mob-brussel@2x.webp 2x
            "
            type="image/webp"
          />
          <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-brussel.png    1x,
            ./img/vegetables/mob-brussel@2x.png 2x
          "
          type="image/png"
        />
          <img
            class="vegetables-item-img"
            src="./img/vegetables/desk-brussel.png"
            alt="brussel"
            width="321"
            height="261"
            loading="lazy" />
        </picture>
        <p class="vegetables-item-price">80 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Tomato</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-tomato.webp    1x,
            ./img/vegetables/desk-tomato@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-tomato.png    1x,
          ./img/vegetables/desk-tomato@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-tomato.webp    1x,
            ./img/vegetables/tab-tomato@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./img/vegetables/tab-tomato.png    1x,
          ./img/vegetables/tab-tomato@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-tomato.webp    1x,
            ./img/vegetables/mob-tomato@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(max-width: 767px)"
        srcset="
          ./img/vegetables/mob-tomato.png    1x,
          ./img/vegetables/mob-tomato@2x.png 2x
        "
        type="image/png"
      />
          <img
          class="vegetables-item-img"
          src="./img/vegetables/desk-tomato.png"
          alt="tomato"
          width="321"
          height="261"
          loading="lazy" />
        </picture>
        <p class="vegetables-item-price">40 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Eggplant</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-eggplant.webp    1x,
            ./img/vegetables/desk-eggplant@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-eggplant.png    1x,
          ./img/vegetables/desk-eggplant@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-eggplant.webp    1x,
            ./img/vegetables/tab-eggplant@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./img/vegetables/tab-eggplant.png    1x,
          ./img/vegetables/tab-eggplant@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-eggplant.webp    1x,
            ./img/vegetables/mob-eggplant@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(max-width: 767px)"
        srcset="
          ./img/vegetables/mob-eggplant.png    1x,
          ./img/vegetables/mob-eggplant@2x.png 2x
        "
        type="image/png"
      />
          <img class="vegetables-item-img" 
          src="./img/vegetables/desk-eggplant.png" 
          alt="eggplant"
          width="321"
          height="261"
          loading="lazy" />
        </picture>
        <p class="vegetables-item-price">60 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Sweet potatoes</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-potatoes.webp    1x,
            ./img/vegetables/desk-potatoes@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-potatoes.png    1x,
          ./img/vegetables/desk-potatoes@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-potatoes.webp    1x,
            ./img/vegetables/tab-potatoes@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./img/vegetables/tab-potatoes.png    1x,
          ./img/vegetables/tab-potatoes@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-potatoes.webp    1x,
            ./img/vegetables/mob-potatoes@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(max-width: 767px)"
        srcset="
          ./img/vegetables/mob-potatoes.png    1x,
          ./img/vegetables/mob-potatoes@2x.png 2x
        "
        type="image/png"
      />
          <img class="vegetables-item-img" 
          src="./img/vegetables/desk-potatoes.png" 
          alt="potatoes"
          width="321"
          height="261"
          loading="lazy" />
        </picture>
        <p class="vegetables-item-price">80 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Leek</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-leek.webp    1x,
            ./img/vegetables/desk-leek@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-leek.png    1x,
          ./img/vegetables/desk-leek@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-leek.webp    1x,
            ./img/vegetables/tab-leek@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./img/vegetables/tab-leek.png    1x,
          ./img/vegetables/tab-leek@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-leek.webp    1x,
            ./img/vegetables/mob-leek@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(max-width: 767px)"
        srcset="
          ./img/vegetables/mob-leek.png    1x,
          ./img/vegetables/mob-leek@2x.png 2x
        "
        type="image/png"
      />
          <img class="vegetables-item-img" 
          src="./img/vegetables/desk-leek.png" 
          alt="leek"
          width="321"
          height="261"
          loading="lazy" />
        </picture>
        <p class="vegetables-item-price">50 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Mushrooms</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-mushrooms.webp    1x,
            ./img/vegetables/desk-mushrooms@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-mushrooms.png    1x,
          ./img/vegetables/desk-mushrooms@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-mushrooms.webp    1x,
            ./img/vegetables/tab-mushrooms@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./img/vegetables/tab-mushrooms.png    1x,
          ./img/vegetables/tab-mushrooms@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-mushrooms.webp    1x,
            ./img/vegetables/mob-mushrooms@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(max-width: 767px)"
        srcset="
          ./img/vegetables/mob-mushrooms.png    1x,
          ./img/vegetables/mob-mushrooms@2x.png 2x
        "
        type="image/png"
      />
          <img class="vegetables-item-img" 
          src="./img/vegetables/desk-mushrooms.png" 
          alt="mushrooms"
          width="321"
          height="261"
          loading="lazy" />
        </picture>
        <p class="vegetables-item-price">40 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Corn</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-corn.webp    1x,
            ./img/vegetables/desk-corn@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-corn.png    1x,
          ./img/vegetables/desk-corn@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/vegetables/tab-corn.webp    1x,
            ./img/vegetables/tab-corn@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 768px)"
        srcset="
          ./img/vegetables/tab-corn.png    1x,
          ./img/vegetables/tab-corn@2x.png 2x
        "
        type="image/png"
      />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/vegetables/mob-corn.webp    1x,
            ./img/vegetables/mob-corn@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(max-width: 767px)"
        srcset="
          ./img/vegetables/mob-corn.png    1x,
          ./img/vegetables/mob-corn@2x.png 2x
        "
        type="image/png"
      />
          <img class="vegetables-item-img"
           src="./img/vegetables/desk-corn.png" 
           alt="corn"
           width="321"
           height="261"
           loading="lazy" />
        </picture>
        <p class="vegetables-item-price">60 UAH / kg</p>
      </li>
      <li class="vegetable-list-item">
        <h3 class="vegetables-item-subtitle">Radish</h3>
        <p class="vegetables-item-text">Plant</p>
        <picture>
          <source
          media="(min-width: 1280px)"
          srcset="
            ./img/vegetables/desk-radish.webp    1x,
            ./img/vegetables/desk-radish@2x.webp 2x
          "
          type="image/webp"
        />
        <source
        media="(min-width: 1280px)"
        srcset="
          ./img/vegetables/desk-radish.png    1x,
          ./img/vegetables/desk-radish@2x.png 2x
        "
        type="image/png"
      />
        <source
        media="(min-width: 768px)"
        srcset=""
        type="image/"
      />
      <source
        media="(max-width: 767px)"
        srcset=""
        type="image/"
      />
        <img class="vegetables-item-img" 
        src="./img/vegetables/desk-radish.png" 
        alt="radish"
        width="321"
        height="261"
        loading="lazy" />
        </picture>

        <p class="vegetables-item-price">90 UAH / kg</p>
      </li>
    </ul>
    <button class="vegetables-btn" type="button">
      <svg class="vegetables-svg" width="14" height="14">
        <use href="../img/icons.svg#icon-arrow"></use>
      </svg>
      <span class="vegetables-btn-text">
        oRDER
      </span>
    </button>
  </div>
</section>
