@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Regular.woff2'), url('../fonts/DMSans-Regular.woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Medium.woff2'), url('../fonts/DMSans-Medium.woff');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-MediumItalic.woff2'),
    url('../fonts/DMSans-MediumItalic.woff');
  font-style: italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DMSans-Bold.woff2'), url('../fonts/DMSans-Bold.woff');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --main-font: 'DM Sans', sans-serif;
  --color-141414: #141414;
  --color-dark-green: #a1c487;
  --color-light-green: #eaf7e5;
  --color-orange: #fc8a11;
  --color-beige: #faf3e7;
  --color-f3f3f3: #f3f3f3;
  --color-white: #ffffff;
  --color-f9f7f4: #f9f7f4;
  --color-c1bdbd: #c1bdbd;
  --color-fAf3e7: #faf3e7;
  --color-placeholder: rgba(20, 20, 20, 0.5);

  --shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--main-font);
}

.container {
  min-width: 280px;
  max-width: 325px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 738px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1250px;
  }
}
