.contacts {
  padding: 80px 0 80px 0;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-container-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.contacts-title {
  color: var(--color-black);
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding-bottom: 20px;
  max-width: 323px;
}

.contacts-text {
  color: var(--color-black);
  text-align: center;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.04em;
  max-width: 321px;
  padding-bottom: 40px;
}

.contact-form {
  position: relative;
  width: 290px;
}

.contact-input {
  color: var(--color-c1bdbd);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0.04em;
  padding-left: 24px;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid var(--color-c1bdbd);
  position: relative;
  padding-right: 105px;
  height: 48px;
}

.contacts-button {
  color: var(--color-white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  background-color: var(--color-orange);
  border-radius: 100px;
  border: 2px solid var(--color-orange);
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 35px;
}

.contact-input:hover {
  border: 1px solid var(--color-dark-green);
}
.contact-input:focus {
  border: 1px solid var(--color-dark-green);
}

.contacts-button:hover {
  background-color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green);
}
.contacts-button:focus {
  background-color: var(--color-dark-green);
  border: 2px solid var(--color-dark-green);
}

.contact-img {
  width: 335px;
  height: 388px;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  background: url(../img/contact/mob-contact-bg.webp), var(--color-beige);
  background-repeat: no-repeat;
  background-size: cover;

  /* background: url(../img/contact/mob-contact-bg.webp), var(--color-beige);
  background-repeat: no-repeat;
  background-size: cover; */
  background-position: left top;
  background-size: 335px 388px;
  border-radius: 40px;
}

.contact-picture {
  /* width: 335px; */

  /* margin-top: 40px; */
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contact-img {
    background: url(../img/contact/mob-contact-bg@2x.webp), var(--color-beige);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* -----@media screen 375px-----  */
@media screen and (min-width: 375px) {
  .contact-form {
    width: 335px;
  }
}

/* -----@media screen 768px-----  */
@media screen and (min-width: 768px) {
  .contacts {
    padding: 100px 0 173px 0;
  }

  .contact-container-text {
    margin-bottom: 80px;
  }

  .contacts-title {
    font-size: 40px;
    line-height: 1.1;
    max-width: 524px;
  }

  .contacts-text {
    font-size: 18px;
    line-height: 1.33;
    max-width: 499px;
  }

  .contact-container-form {
    margin-bottom: 80px;
  }

  .contact-form {
    width: 350px;
  }

  .contact-img {
    width: 704px;
    height: 463px;
    background: url(../img/contact/tab-contact-bg.webp), var(--color-beige);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../img/contact/tab-contact-bg.webp);
    background: var(--color-beige);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 80px; */
    /* background: url(../img/contact/tab-contact-bg.webp), var(--color-beige);
    background-repeat: no-repeat;
    background-size: cover; */
  }

  .contact-picture {
    width: 629px;
    height: 446px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .contact-img {
    background: url(../img/contact/tab-contact-bg@2x.webp), var(--color-beige);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* -----@media screen 1280px------ */
@media screen and (min-width: 1280px) {
  .contacts {
    padding: 124px 0 124px 0;
  }

  .contact-container {
    flex-wrap: nowrap;
    gap: 77px;
  }

  .contact-container-text {
    flex-direction: column;
    margin-bottom: 0;
  }

  .contacts-title {
    font-size: 48px;
    line-height: 1.04;
    text-align: start;
    padding-bottom: 40px;
    max-width: 630px;
  }

  .contacts-text {
    text-align: start;
    padding-bottom: 80px;
    max-width: 614px;
  }

  .contact-img {
    width: 525px;
    height: 536px;
    background: url(../img/contact/desk-contact-bg.webp), var(--color-beige);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-picture {
    width: 525px;
    height: 499px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .contact-img {
      background: url(../img/contact/desk-contact-bg@2x.webp),
        var(--color-beige);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
