.footer {
  background-color: var(--color-light-green);
  padding: 80px 0;
}

.footer-container {
  /* max-width: 375px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  /* justify-content: space-between; */
}

@media screen and (min-width: 768px) {
  .footer-container {
    /* max-width: 734px; */
    display: flex;
    flex-direction: unset;
    gap: 171px;
    align-items: unset;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    /* max-width: 1246px; */
    gap: 166px;
  }

  .footer-nav-wrapper {
    display: flex;
    gap: 166px;
  }
}

.footer-logo-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-logo {
  color: var(--color-141414);
  text-align: center;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.footer-logo svg {
  margin-right: 8px;
}

.footer-nav-list {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-nav-list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-nav-list {
    margin-top: 84px;
  }

  .footer-nav-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-nav-link:hover,
  .footer-nav-link:focus {
    color: var(--color-dark-green);
  }
}

.footer-nav-link {
  color: var(--color-141414);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .footer-nav-link:hover,
.footer-nav-link:focus {
  color: var(--color-dark-green);
} */

.footer-soc-list {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

/* .footer-soc-item {
  border-radius: 10px;
  border: 1px solid var(--color-141414);
} */

.footer-soc-link {
  border-radius: 10px;
  border: 1px solid var(--color-141414);
  /* width: 100%;
  height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  /* transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .footer-soc-link:hover,
.footer-soc-link:focus {
  border-color: var(--color-dark-green);
  fill: var(--color-dark-green);
} */

@media screen and (min-width: 768px) {
  .footer-soc-list {
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-soc-list {
    margin-bottom: 40px;
  }

  .footer-soc-link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-soc-link:hover,
  .footer-soc-link:focus {
    border-color: var(--color-dark-green);
    fill: var(--color-dark-green);
  }
}

.footer-tel-link {
  color: var(--color-141414);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
  text-transform: uppercase;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .footer-address-list {
    align-items: left;
    text-align: left;
    justify-content: left;
  }
}

.footer-address-link {
  color: var(--color-141414);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
}
