.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  /* padding-left: 32px;
  padding-right: 32px; */
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-logo {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 8px;
  fill: #77ac63;
}
.header-list {
  display: none;
}

.header-list-item {
  /* padding-top: 13px;
  padding-bottom: 13px; */
}

.header-item-link {
  color: #141414;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
}
.header-item-link:hover,
.header-item-link:focus {
  color: #77ac63;
}
.header-menu-open {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  fill: #77ac63;
}
.header-menu-order {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0;
  }
  .header-list {
    display: flex;
    gap: 14px;
  }
  .header-logo {
    margin-left: 86px;
  }
  .header-menu-open {
    display: none;
  }
  .header-menu-order {
    display: unset;
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: #141414;
    margin-right: 15px;
  }
}

/*---------------------------------DESKTOP---------------------------------*/
@media screen and (min-width: 1280px) {
  .header-container {
    padding: 0;
  }
  .header-logo {
    margin-left: 306px;
  }
  .header-menu-order {
    margin-right: 13px;
  }
}
