.hero {
  background-color: var(--color-dark-green);
  padding-top: 48px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 132px;
  }
}

@media screen and (min-width: 768px) {
  .hero-container {
    margin-left: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-container-wrapper {
    display: flex;
    flex-direction: row;
  }
}


.hero-icons-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-list-item {
  background-color: var(--color-white);
  width: 44px;
  height: 44px;
  border-radius: 40px;
  object-fit: cover;
}

.hero-icon-media {}

.hero-icon-img {
  margin: 0 auto;
  padding: 2px;
}

.hero-position-one {
  z-index: 0;
  position: absolute;
}

.hero-position-two {
  z-index: 1;
  position: relative;
  left: 28px;
}

.hero-position-three {
  z-index: 2;
  position: relative;
  left: 14px;
}

.hero-position-four {
  position: relative;
  z-index: 3;
}

.hero-item-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: baseline;
  padding: 2px;
  flex-wrap: wrap;
}

.hero-item-text {
  color: var(--color-black);
  text-align: center;
  text-shadow: var(--shadow);
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0, 04em;
  text-transform: uppercase;
  font-style: normal;
  margin: 0 auto;
  padding-top: 8px;
}

.hero-item-span {
  font-size: 8px;
  font-weight: 400;
  line-height: calc(10 / 8);
  text-transform: lowercase;
  margin: 0 auto;
}

.hero-title {
  color: var(--color-white);
  text-shadow: var(--shadow);
  font-size: 40px;
  font-weight: 500;
  line-height: calc(44 / 40);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 16px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-title {
    font-size: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 54px;
    line-height: calc(64 / 54);
  }
}

@media screen and (min-width: 1280px) {
  .hero-title {
    max-width: 762px;
    margin-bottom: 16px;
  }
}

.hero-span {
  color: #eaf7e5;
  font-style: italic;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-span {
    font-size: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-descr {
    font-size: 10px;
  }
}

.hero-descr {
  color: #fff;
  text-shadow: var(--shadow);
  font-size: 14px;
  font-weight: 400;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .hero-descr {
    max-width: 490px;
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-descr {
    max-width: 491px;
  }
}

.hero-btn {
  width: 68px;
  height: 68px;
  position: relative;
  border-radius: 50%;
  border-color: var(--color-beige);
  margin-bottom: 8px;
  border: none;
}

@media screen and (min-width: 768px) {
  .hero-btn {
    width: 114px;
    height: 114px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-btn {
    width: 132px;
    height: 132px;
  }
}

.hero-btn-link {
  color: var(--color-orange);
  text-align: center;
  text-shadow: var(--shadow);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  position: absolute;
  transform: rotate(-14deg);
  top: 16px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .hero-btn-link {
    font-size: 24px;
    line-height: calc(24 / 24);
    top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-btn-link {
    font-size: 28px;
    line-height: calc(28 / 28);
    top: 38px;
  }
}

.hero-image-wrapper {
  text-align: center;
}

.hero-picture {
  display: block;
  margin: 0 auto;
  width: 50%;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-picture {
    margin-bottom: 8px;
  }
}

.hero-image {
  /* margin: 0 auto;
    display: block; */
  position: relative;
  overflow: hidden;
}

.hero-image-back {
  width: 186px;
  height: 280px;
  transform: rotate(-105deg);
  border-radius: 500px;
  background: #faf3e7;
  position: absolute;
  top: -4%;
  left: 25%;
  /* transform: translateY(-50%); */
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .hero-image-back {
    margin: 0 auto;
    left: 36%;
    top: -7%;
  }
}

.hero-photo {
  /* margin: 0 auto; */
  width: 230px;
  height: 228px;
  margin-bottom: 16px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .hero-photo {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .hero-photo {
    margin-bottom: 64px;
    width: 422px;
    height: 460px;
  }
}

.hero-nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 4px;
  margin-left: 161px;
  align-content: end;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .hero-nav-list {
    margin-left: 120px;
  }
}

@media screen and (min-width: 768px) {
  .hero-nav-list {
    margin-left: 507px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-nav-list {
    margin-left: 967px;
  }
}

.hero-nav-item {
  /* width: calc((100% - 4px) / 2); */
  border-radius: 1000px;
  border: 1px solid var(--color-white);
  padding: 8px 14px;
}

@media screen and (min-width: 768px) {
  .hero-nav-item {
    padding: 10px 20px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-nav-item {
    padding: 12px 32px;
    font-style: normal;
  }
}

.hero-nav-link {
  color: var(--color-white);
  text-align: center;
  text-shadow: var(--shadow);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  display: block;
}

@media screen and (min-width: 768px) {
  .hero-nav-link {
    font-size: 12px;
    line-height: 1.17;
  }
}

.hero-nav-active {
  color: var(--color-black);
  background-color: var(--color-white);
}