/* background-img:
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mobile/mobile-hero-bg@2x.jpg);
  }
} */
/* :root {
    --main-font: 'DM Sans', sans-serif;
    --color-black: #141414;
    --color-dark-green: #a1c487;
    --color-light-green: #eaf7e5;
    --color-orange: #fc8a11;
    --color-beige: #faf3e7;
    --color-white: #f3f3f3;
  } */
.hero {
    background-color: var(--color-dark-green);
    padding-top: 48px;
}

.hero-container {}

.hero-icon-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 16px;

}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 66px;
    }
}

@media screen and (min-width: 1280px) {
    .hero {
        padding-top: 134px;
    }
}

.hero-list-item {
    background-color: var;
    width: 44px;
    height: 44px;
    border-radius: 40px;
    position: relative;
}

.hero-icon-img {
    position: absolute;
}

.hero-position-one {
    z-index: 4;
}

.hero-position-two {
    z-index: 3;

}

.hero-position-three {
    z-index: 2;
}

.hero-position-four {
    z-index: 1;
}



.hero-title {
    color: #FFF;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 40px;
    font-weight: 500;
    line-height: calc(44 / 40);
    letter-spacing: -0.04em;
    text-transform: uppercase;
}

.hero-span {
    color: #eaf7e5;
    font-style: italic;
}

.hero-descr {
    color: #FFF;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 14px;
    font-weight: 400;
    line-height: calc(18 / 14);
    letter-spacing: -0.04em;
}

.hero-btn {
    width: 68px;
    height: 68px;

    border-radius: 50%;
}

@media screen and (min-width: 768px) {
    .hero-btn {
        width: 114px;
        height: 114px;
        margin-left: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .hero-btn {
        width: 132px;
        height: 132px;
    }
}

.hero-btn-icon {
    fill: #FAF3E7;

}

.hero-images-wrapper {}

.hero-images {}

.hero-photo {}

.hero-nav-list {}

.hero-nav-item {}

.hero-nav-link {}