.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--color-c1bdbd);
  z-index: 999;
}

.modal {
  overflow-y: scroll;
  max-height: calc(100% - 180px);
  position: absolute;
  width: 295px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01),
    0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02),
    0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03),
    0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03),
    0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04),
    0px 0px 223px 0px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  padding: 20px;
}

@media screen and (max-width: 375px) {
  .modal-mob {
    height: 903px;
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%) scaleY(0);
}

.modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 22px;
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
}

.modal-title {
  color: var(--color-141414);
  text-shadow: var(--shadow);
  font-size: 28px;
  font-weight: 500;
  line-height: calc(28 / 28);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.modal-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.modal-list-item {
  width: 100%;
  height: auto;
  background-color: var(--color-fAf3e7);
  margin-bottom: 12px;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  position: relative;
}

.modal-list-name {
  color: var(--color-141414);
  font-size: 18px;
  font-weight: 700;
  line-height: calc(24 / 18);
  letter-spacing: -0.04em;
  margin-bottom: 2px;
}
.modal-list-type {
  color: var(--color-141414);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
}
.modal-list-pic {
  align-self: flex-end;
}

.checkbox-label span {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid var(--color-dark-green);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
}
.modal-list-checkbox {
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal-list-checkbox:checked + .checkbox-label span {
  fill: var(--color-dark-green);
}
.modal-form {
  width: 242px;
  height: auto;
}

.modal-form-input {
  border-radius: 100px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  width: 100%;
  height: 46px;
  margin-bottom: 14px;
  padding-left: 24px;
  padding-right: 24px;
  outline-width: 0;
}

.modal-form-input:focus {
  border-color: var(--color-dark-green);
}

.modal-form-input::placeholder {
  color: var(--color-placeholder);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
}

.form-textarea {
  resize: none;
  width: 100%;
  height: 132px;
  border-radius: 20px;
  border: 1px solid rgba(20, 20, 20, 0.3);
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  outline-width: 0;
}

.form-textarea::placeholder {
  color: var(--color-placeholder);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
}

.form-btn {
  min-width: 92px;
  height: 42px;
  color: var(--color-white);
  font-family: inherit;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  text-transform: capitalize;
  background-color: var(--color-orange);
  border-radius: 100px;
  border: none;
}

.modal-pic {
  display: none;
}

@media screen and (min-width: 768px) {
  .modal {
    overflow-y: unset;
    max-height: unset;
    width: 624px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .modal-btn {
    width: 28px;
    height: 28px;
    top: 20px;
  }

  .modal-title {
    font-size: 40px;
    line-height: calc(44 / 40);
    letter-spacing: -0.04em;
    text-transform: uppercase;
  }

  .modal-list {
    flex-wrap: nowrap;
    gap: 12px;
  }

  .modal-list-item {
    width: 200px;
    display: block;
    padding: 42px 14px 16px 14px;
    margin-bottom: 0;
  }

  .modal-list-type {
    margin-bottom: 10px;
  }

  .modal-img {
    width: 172px;
    height: 142px;
    margin: 0 auto;
    object-fit: contain;
  }

  .modal-item-wrapper {
    margin-bottom: 8px;
  }

  .modal-form {
    width: 360px;
  }

  .modal-form-input {
    width: 100%;
  }

  .form-textarea {
    width: 360px;
  }

  .modal-person-img {
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .modal-pic {
    display: block;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 811px;
    height: 851px;
    padding-bottom: 20px;
  }
  .modal-img {
    width: 243px;
    height: 200px;
  }

  .modal-form {
    width: 360px;
  }

  .form-textarea {
    width: 360px;
  }

  .modal-form-input:hover,
  .modal-form-input:focus,
  .form-textarea:hover,
  .form-textarea:focus {
    border-color: var(--color-dark-green);
  }

  .modal-person-img {
    width: 444px;
  }

  .modal-list {
    gap: 20px;
  }

  .modal-list-item {
    width: 257px;
  }
}
