.modal {
    position: absolute;
    width: 300px;
    min-height: 903px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 20px
}

@media screen and (min-width:375px){
    .modal{
        width: 335px;
    }
}

@media screen and (min-width: 768px) {
    .modal{
        width:704px;
    }
}

@media screen and (min-width: 1290px){
    .modal{
        width: 891px;
    }
}

.modal-backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: gray;
    z-index: 2;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal-visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-title {
    margin-bottom: 40px;
}

.modal-button {
    width: 24px;
    height: 24px;
    background: #ffffff;
    border: none;
    border-radius: 0;
    display: flex;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
}


.modal-list {
    list-style-type: none;
    display:flex;
    gap: 12px;
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .modal-list{
        flex-direction: row;
    }
}

@media screen and (min-width: 1280px) {
    .modal-list{
        gap: 20px;
    }
}

.modal-checkbox{
    width:16px;
    height:16px;
    border-color:rgba(161, 196, 135, 1);
    background: transparent;
    align-items: center;
    margin: 14px 89px 265px 14px;
}

@media screen and (max-width: 767px) {
    .modal-checkbox{
        margin: 14px 216px 166px 14px;
    }
}

@media screen and (min-width: 1280px) {
    .modal-checkbox{
        margin: 14px 274px 223px 14px;
    }
}
.modal-checkbox:hover{
    border-color: rgba(252, 138, 17, 1);
}

.modal-list-product {
    width: 295px;
    background: rgba(252, 138, 17, 1);
    border-radius: 20px;    
}

@media screen and (min-width: 768px) {
    .modal-list-product{
       width: 200px;
        height: 250px;
    }
}

@media screen and (min-width: 1280px) {
    .modal-list-product{
        width: 257px;
        height: 308px;
    }
}

 .modal-list-product-title{
    font-size: 24px;
    font-style: bold;
    line-height: 28px;
    letter-spacing: -4%;
 }

 @media screen and (min-width: 1280px) {
    .modal-list-product-title{
        font-size: 28px;
    }
 }

.modal-list-product-text{
    font-size: 14px;
    color: #141414;
    text-align:center;
    line-height: -2%;
    margin-top: 2px;
}

@media screen and (min-width: 1280px) {
    .modal-list-product-text{
        margin-top: 8px;
    }
}

.modal-list-product-image{
    width: 94px;
    height: 78px;
    background: transparent;
    padding-top: 33px;
    padding-right: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 768px) {
    .modal-list-product-image{
        width: 172px;
        height: 142px;
        flex-direction: column;
        padding-bottom: 14px;
        padding-right: 14px;
        padding-left:14px;
    }
}

@media screen and (min-width: 1280px) {
    .modal-list-product-image {
        width: 257px;
        height: 308px;
        flex-direction: column;
        padding-right: 7px;
        padding-left: 7px;
    }
}

.modal-field {
    margin-bottom: 14px;
}

.modal-label {
    font-size: 14px;
    letter-spacing: normal;
    line-height: 14px;
    color: #ffffff;
    margin-bottom: 14px;
    display: block;
    border: 1px solid #141414;
}

.modal-input-wrap{
    position: relative;
}

.modal-textarea{
    width:100%;
    height: 132px;
    border-radius: 20px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    padding: 14px 24px;
    color:#ffffff;
    font-size: 18px;
    letter-spacing:-4%;
    line-height: 18px;
}

.modal-submit-button{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 42px;
    min-width: 92px;
    background-color: rgba(252, 138, 17, 1);
    line-height: 18px;
    letter-spacing: -4%;
    color: #ffffff;
    margin: 0 auto;
}

.modal-submit-button:hover{
    background-color: rgba(161, 196, 135, 1);
}

