/**
  |============================
  | Vegetables style
  |============================
*/

.vegetables {
  padding-top: 40px;
}

.vegetables-title {
  color: var(--color-141414);
  text-align: center;
  text-shadow: var(--shadow);
  font-size: 24px;
  font-weight: 500;
  line-height: calc(28 / 24);
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 14px;
}

@media screen and (min-width: 768px) {
  .vegetables-title {
    font-size: 28px;
    line-height: calc(32 / 28);
  }
}
@media screen and (min-width: 1280px) {
  .vegetables-title {
    font-size: 40px;
    line-height: calc(44 / 40);
  }
}
.vegetables-text {
  color: var(--color-141414);
  text-align: center;
  text-shadow: var(--shadow);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 295px;
}
@media screen and (min-width: 768px) {
  .vegetables-text {
    max-width: 562px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}
.vegetables-list {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 20px;
  /* justify-content: center; */
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .vegetables-list {
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .vegetables-list {
    gap: 24px;
  }
}
.vegetable-list-item {
  /* max-width: 295px; */
  background: var(--color-light-green);
  border-radius: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .vegetable-list-item {
    padding-top: 64px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    /* width: calc((100% - 20px) / 2); */
    width: calc((100% - 20px - 96px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .vegetable-list-item {
    width: calc((100% - 48px - 144px) / 3);
  }
}

@media screen and (max-width: 1279px) {
  .list-item-none {
    display: none;
  }
}

.vegetables-item-subtitle {
  color: var(--color-141414);
  font-size: 24px;
  font-weight: 700;
  line-height: calc(28 / 24);
  letter-spacing: -0.04em;
  margin-bottom: 8px;
  /* padding-left: 24px; */
  /* padding-top: 40px;
  padding-left: 20px; */
}
@media screen and (min-width: 768px) {
  .vegetables-item-subtitle {
    font-size: 28px;
    line-height: calc(32 / 28);
    /* padding-top: 64px;
    padding-left: 24px; */
  }
}
@media screen and (min-width: 1280px) {
  .vegetables-item-subtitle {
    font-size: 32px;
    line-height: calc(38 / 32);
  }
}
.vegetables-item-text {
  color: var(--color-141414);
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  margin-bottom: 40px;
  /* padding-left: 24px; */
  /* padding-top: 8px;
  padding-left: 20px; */
}
@media screen and (min-width: 768px) {
  .vegetables-item-text {
    font-size: 18px;
    line-height: calc(24 / 18);
    /* padding-left: 24px; */
  }
}

.vegetables-item-img {
  /* padding-top: 40px; */
  margin: 0 auto;
  object-fit: contain;
  height: 261px;
}
@media screen and (min-width: 768px) {
  .vegetables-item-img {
    /* padding-top: 7px; */
  }
}
@media screen and (min-width: 1280px) {
  .vegetables-item-img {
    padding-top: 2px;
  }
}
.vegetables-item-price {
  color: var(--color-141414);
  font-size: 14px;
  font-weight: 500;
  line-height: calc(18 / 14);
  letter-spacing: -0.04em;
  /* padding-bottom: 20px; */
  /* padding-left: 20px; */
  /* padding-left: 24px; */
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  .vegetables-item-price {
    font-size: 18px;
    line-height: calc(24 / 28);
    margin-top: 24px;
    /* padding-bottom: 24px; */
    /* padding-left: 24px; */
  }
}

.vegetables-btn {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-orange);
  margin: 0 auto;
  display: block;
  position: relative;
}
.vegetables-btn:hover,
.vegetables-btn:focus {
  background-color: var(--color-dark-green);
}
.vegetables-btn-text {
  color: var(--color-white);
  text-align: center;
  text-shadow: var(--shadow);
  font-size: 18px;
  font-weight: 500;
  line-height: calc(24 / 18);
  letter-spacing: -0.04em;
  text-transform: uppercase;
}
.vegetables-text-rotate {
  position: absolute;
  transform: rotate(-14deg);
  top: 46px;
  left: 16px;
}
.vegetables-svg {
  fill: var(--color-white);
}
