/**
  |============================
  | Vegetables style
  |============================
*/
.vegetables {
}
.vegetables-container {
}
.vegetables-title {
color: var(--color-black);
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 24px;
font-weight: 500;
line-height: calc(28 / 24);
letter-spacing: -0,04em;
text-transform: uppercase;
margin: 0 auto;
padding-bottom: 14px;
}

@media only screen and (min-width: 768px) {
  .vegetables-title {
    font-size: 28px; 
    line-height: calc(32 / 28);
  }
}
@media only screen and (min-width: 1280px) {
  .vegetables-title {
    font-size: 40px; 
    line-height: calc(44 / 40);
  }
}
.vegetables-text {
color: var(--color-black);
text-align: center;
text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-weight: 400;
line-height: calc(18 / 14);
letter-spacing: -0.04em;
padding-bottom: 40px;
margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .vegetables-text {
    max-width: 562px;
  
  }
}
.vegetables-list {
}
.vegetable-list-item {
}
.vegetables-item-subtitle {
}
.vegetables-item-text {
}
.vegetables-item-img {
}
.vegetables-item-price {
}
.vegetables-btn {
}
.vegetables-svg {
}
